table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

table, th, td{
    border: 1px solid black;
}

tbody {
    text-align: left;
    font-weight:bold;
}

thead{
    background-color: lightblue;
}